# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://evktywhmmxrowwgrrzud.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2a3R5d2htbXhyb3d3Z3JyenVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyMjg0MzcsImV4cCI6MjA3MzgwNDQzN30.NMvO9jG4C2uM4nWJSmfZ-pLwo7eAYySKdvVrFNQcBUc"
SECRET_SUPABASE_CONNECTION_STRING="postgresql://postgres:andyetandstill@db.evktywhmmxrowwgrrzud.supabase.co:5432/postgres"
